<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Подключение внешнего CSS -->
</head>

<body>
<header>
    <h1>Об авторе</h1>
</header>

<div class="container">
    <section>
        <h2>Автор проекта:</h2>
        <p>
            Тухачевский Евгений Николаевич. Студент Финансового Университета при правительстве РФ группы ПИ22-2в. Староста группы.
        </p>
    </section>

    <section>
        <h2>Привет! 👋</h2>
        <p>
            Меня зовут Тухачевский Евгений. Я системный администратор, разработчик программного обеспечения и junior DevOps. Я из России, в настоящее время живу в Москве.
        </p>
        <p>
            Сейчас я работаю с различными операционными системами, облачными платформами и занимаюсь разработкой на таких языках, как Java и Python.
        </p>
    </section>

    <section>
        <h2>Технологии и инструменты</h2>
        <p>Вот некоторые из технологий, с которыми я работаю:</p>
        <div>
            <!-- Операционные системы -->
            <h3>Операционные системы:</h3>
            <img src="https://img.shields.io/badge/-Linux-333?style=flat&logo=linux" alt="Linux" />
            <img src="https://img.shields.io/badge/-Ubuntu-333?style=flat&logo=ubuntu" alt="Ubuntu" />
            <img src="https://img.shields.io/badge/-Kali%20Linux-333?style=flat&logo=kali-linux" alt="Kali Linux" />
            <img src="https://img.shields.io/badge/-Windows%2010-333?style=flat&logo=windows10" alt="Windows 10" />
            <img src="https://img.shields.io/badge/-Windows%2011-333?style=flat&logo=windows" alt="Windows 11" />
        </div>

        <div>
            <!-- Облачные платформы -->
            <h3>Облачные платформы:</h3>
            <img src="https://img.shields.io/badge/-Azure-333?style=flat&logo=microsoft-azure&logoColor=white" alt="Azure" />
            <img src="https://img.shields.io/badge/-AWS-333?style=flat&logo=amazon-aws" alt="AWS" />
            <img src="https://img.shields.io/badge/-GCP-333?style=flat&logo=google-cloud" alt="GCP" />
            <img src="https://img.shields.io/badge/-Office%20365-333?style=flat&logo=microsoft-office-365&logoColor=white" alt="Office 365" />
        </div>

        <div>
            <!-- Инструменты для мониторинга -->
            <h3>Мониторинг и аналитика:</h3>
            <img src="https://img.shields.io/badge/-Zabbix-333?style=flat&logo=zabbix&logoColor=white" alt="Zabbix" />
            <img src="https://img.shields.io/badge/-Prometheus-333?style=flat&logo=prometheus&logoColor=white" alt="Prometheus" />
            <img src="https://img.shields.io/badge/-Grafana-333?style=flat&logo=grafana&logoColor=white" alt="Grafana" />
        </div>

        <div>
            <!-- Программирование и разработка -->
            <h3>Разработка и программирование:</h3>
            <img src="https://img.shields.io/badge/-Java-333?style=flat&logo=Java" alt="Java" />
            <img src="https://img.shields.io/badge/-Python-333?style=flat&logo=python" alt="Python" />
            <img src="https://img.shields.io/badge/-HTML5-333?style=flat&logo=html5" alt="HTML5" />
            <img src="https://img.shields.io/badge/-CSS3-333?style=flat&logo=css3" alt="CSS3" />
            <img src="https://img.shields.io/badge/-JavaScript-333?style=flat&logo=javascript" alt="JavaScript" />
            <img src="https://img.shields.io/badge/-Git-333?style=flat&logo=git" alt="Git" />
            <img src="https://img.shields.io/badge/-GitHub-333?style=flat&logo=github" alt="GitHub" />
        </div>

        <div>
            <!-- Сетевые технологии -->
            <h3>Сетевые технологии:</h3>
            <img src="https://img.shields.io/badge/-TCP%2FIP-333?style=flat&logoColor=white" alt="TCP/IP" />
            <img src="https://img.shields.io/badge/-DNS-333?style=flat&logo=dns&logoColor=white" alt="DNS" />
            <img src="https://img.shields.io/badge/-DHCP-333?style=flat&logo=dhcp&logoColor=white" alt="DHCP" />
            <img src="https://img.shields.io/badge/-VLAN-333?style=flat&logoColor=white" alt="VLAN" />
        </div>
    </section>

    <section>
        <h2>Мои проекты на GitHub</h2>
        <p>
            Вы можете ознакомиться с моими проектами на GitHub:
            <a href="https://github.com/EvtuProd" target="_blank">GitHub</a>
        </p>
    </section>

    <section>
        <h2>Социальные сети</h2>
        <ul>
            <li><a href="https://github.com/EvtuProd" target="_blank">GitHub</a></li>
            <li><a href="https://t.me/tuevgeniy" target="_blank">Telegram</a></li>
        </ul>
    </section>

    <section>
        <h2>Свяжитесь со мной</h2>
        <form action="mailto:222800@edu.fa.ru" method="post" enctype="text/plain" accept-charset="UTF-8">
            <label for="name">Ваше имя:</label>
            <input type="text" id="name" name="name" required><br>
            <label for="email">Ваш email:</label>
            <input type="email" id="email" name="email" required><br>
            <label for="message">Сообщение:</label><br>
            <textarea id="message" name="message" rows="4" required></textarea><br>
            <button type="submit">Отправить</button>
        </form>
    </section>
</div>

<footer>
    <p>&copy; 2024 Курсовая работа</p>
</footer>

</body>

</html>